<h1> <%= @name1 %> vs <%= @name2 %> :60hp </h1>

<!-- <form action="/play">
  <input type="submit" value="Attack">
</form> -->
<!-- <a href="/attack" class="button">Attack</a> -->

<p> <%= @current_player %> it's your turn</p>
<form action="/attack">
  <input type="submit" value = "Attack"/>
</form>
